{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCorridas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7317477729559523"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="card">
        <div class="price-container"></div>
            <h2>Comparativo de preços</h2>

        <div class="price-card ">
            <h3>InDriver</h3>
            <p>R$ {{ driver }}</p>
            <a href="https://indriver.com"> <input type="button" value="inDriver"></a>
        </div>

        <div class="price-card ">
            <h3>99 Pop</h3>
            <p>R$ {{ pop }}</p>
            <a href="https://99app.com/passageiro/"> <input type="button" value="99Pop"></a>
        </div>

        <div class="price-card ">
            <h3>Uber</h3>
            <p>R$ {{ uber }}</p>
            <a href="uber://?action=setPickup&pickup=my_location&dropoff[latitude]=LATITUDE&dropoff[longitude]=LONGITUDE"> <input type="button" value="Uber"></a>
        </div>
        <!-- Anuncios do google ads, codigo de acordo com a documentação fornecida -->
            <div class="ad-space">
                 Espaço para anúncios
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7317477729559523" crossorigin="anonymous"></script>

            <ins class="adsbygoogle"
                style="display:block;background-color:rgb(200,200,200)"
                data-ad-client="ca-pub-7317477729559523"
                data-ad-slot="4100789891"
                data-ad-format="auto"
                data-adteste="on"
                data-full-width-responsive="true"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
</div>
</body>
</html>
